[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
alembic = "==0.9.6"
click = "==6.7"
dominate = "==2.3.1"
Flask = "==0.12.2"
Flask-Assets = "==0.12"
Flask-Migrate = "==2.1.1"
Flask-SQLAlchemy = "==2.3.2"
itsdangerous = "==0.24"
Jinja2 = "==2.10"
livereload = "==2.5.1"
Mako = "==1.0.7"
MarkupSafe = "==1.0"
python-dateutil = "==2.6.1"
python-editor = "==1.0.3"
SQLAlchemy = "==1.1.15"
tornado = "==4.5.2"
visitor = "==0.1.3"
webassets = "==0.12.1"
Werkzeug = "==0.13"
WTForms = "==2.1"
jsmin = "*"
pyScss = "*"
psycopg2 = "*"
Flask-Login = "*"
slugify = "*"
Flask-Script = "*"
python-nvd3 = "*"
