{% extends "layouts/base.html" %}
{% block title %}Trial : {%endblock %}

{% block content %}
  <table class='table sortable' >
    <tr>
      <th>Old accused Ref</th>
      <th>Accused Ref</th>
      <th>Case date</th>
    </tr>
    {% for t in trials %}
      <tr>
          <td>
            <a href="{{ t.id  }}">{{ t.accused_ref }}</a>
          </td>
          <td>
            <a href="/accused/{{ t.accused_id }}">{{ t.case_common_name }}</a>
          </td>
          <td>
            {{ t.case_date }}
          </td>
      <tr>
    {% endfor %}
  </table>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='public/js/sorttable.js') }}"></script>
{% endblock %}
