{% extends "layouts/base.html" %}
{% block title %}Accused : {{ ap.first_name }} {{ ap.last_name }} : {%endblock %}

{% block content %}
  <h1>Accused: {{ ap.first_name }} {{ ap.last_name }}</h1>
  <ul class='list-unstyled'>
    <li>Married name: {{ ap.m_first_name  }} {{ ap.m_last_name }}</li>
    <li>Old id: {{ ap.old_id  }}</li>
    {% for at in ap.accusations %}
    <li>Accusation: <a href='/accusation/{{at.id}}'>{{ at.case_ref }} : {{at.case_date}}</a></li>
    {% endfor %}
    <li>Destitle: {{ ap.destitle  }}</li>
    <li>Sex: {{ 'Female' if ap.sex == False else 'Male' }}</li>
    <li>Age: {{  ap.age if ap.age != None else 'Unknown' }}</li>
    <li>Res_settlement: {{ ap.res_settlement }}</li>
    <li>Res_parish: {{ ap.res_parish }}</li>
    <li>Res_presbytery: {{ ap.res_presbytery }}</li>
    <li>Res_burgh: {{ ap.res_burgh }}</li>
    <li>Ethnicity: {{ ap.ethnicity }}</li>
    <li>Marital status: {{ ap.marital_status }}</li>
    <li>Socioeconomic status: {{ ap.socioeconomic_status }}</li>
    <li>Occupation: {{ ap.occupation }}</li>
    <li>Notes: {{ ap.notes }}</li>
    {% if ap.family[0] %}
      <h2>Family</h2>
      {% for af in ap.family %}
      <li>{{ af.relationship }}: {{af.first_name}} {{af.last_name}} 
        {% if af.family_data() %}
          ({{ af.family_data()|join(',') }})
          {% endif %}
      </li>
      {% endfor %}
    {% endif %}
  </ul>
{% endblock %}
